[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipywidgets = "*"
apache-flink = "==1.14.3"
setuptools = "*"
pandas = "*"
ipython = "*"
py4j = "*"
requests = "*"
wget = "*"
sqlparse = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
